.alt-header {
    display: flex;
    padding: var(--horizontal-space);
    justify-content: center;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
    font-size: 13px;
}

.alt-header__column:last-child {
    margin-left: auto;
}